NODE_ENV=development
PORT=5040
DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>/<db-name>
# Local host run:
# REDIS_URL=redis://127.0.0.1:6379
# Docker Compose run:
REDIS_URL=redis://redis:6379
ZEGO_APP_ID=
ZEGO_SERVER_SECRET=
