NODE_ENV=development
PORT=5040
DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>/<db-name>
REDIS_URL="redis://redis:6379"

FRONTEND_URL=""
BCRYPT_SALT_ROUNDS="10"


ZEGO_APP_ID=""
ZEGO_APP_SECRET=""

ACCESS_TOKEN_SECRET=""
ACCESS_EXPIRES_IN=""

#AWS S3 Configuration
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
AWS_REGION=""
AWS_S3_BUCKET_NAME=""
